body{
    background: rgb(201, 200, 200);
    text-align: center;
}
h1{
    color: black;
    text-align: center;
}
div{
    color: black;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    width: 250px;
    text-align: center;

}
img{
    width: 200px;
}
h3{
    color: black;
}
p{
    font-size: 20px;
    color: black;
}
.price{
    color: red;
    font-size: 15px;
    font-weight: bolder;
}
button{
    background: purple;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
button:hover{
    background: rgb(223, 105, 223);
    cursor: pointer;
}
