body{
    background-color: rgb(235, 230, 230);
}
h1{
    justify-self: center;
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    object-fit:contain;
}
button{
    background-color: rgb(113, 200, 235);
    height: 30px;
    color: white;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
}
.money{
    color: green;
    font-weight: bolder;
}

.desc{
    padding: 0px 10px;
}
